* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    padding: 20px;
}

nav a {
    flex-grow: 1;
    font-family: "Arial", sans-serif;
    text-align: center;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    height: 80vh;
}

.s1 {
    background-color: rgb(235, 197, 233);
}

.s2 {
    background-color: rgb(219, 218, 219);
}

.s3 {
    background-color: rgb(224, 164, 221);
}

.s4 {
    background-color: rgb(219, 218, 219);
}

footer {
    padding: 20px;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 40px;
    color: white;
    background-color: black;

}