* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', 'Arial', sans-serif;
    overflow-x: hidden;
}

.gallery {
    position: relative;
    min-height: 100vh;
}

.gallery .title {
    position: absolute;
    top: 95%;
    left: 5%;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

.gallery h1 {
    margin-bottom: 2vh;
    padding: 1vh 3vh;
    font-size: 7vh;
    background-color: black;
    color: rgb(241, 180, 241);
}

.gallery .images {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    position: absolute;
    top: 5%;
    right: 5%;
    height: 90%;
    width: 60%;
}

.gallery a {
    position: relative;
    overflow: hidden;
    flex-basis: calc(50% - 40px);
    height: 20%;
    margin: 0 20px;
    box-shadow: 0 0 3px 2px lightgray;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}